body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  opacity: 0.9;
  -webkit-background-size: 4100px;
  -moz-background-size: 4100px;
  -o-background-size: 4100px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  border-radius: 20px;
}

.title {
  font-size: 62px;
  font-family: cursive;
  color: darkolivegreen;
}

.subscribe {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.description {
  font-size: 22px;
  font-family: Garamond, Georgia;
  color: darkolivegreen;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Garamond, Georgia;
  font-size: 18px;
  margin: 10px;
}

.btn-1 {
  background-color: rgb(115, 131, 87);
  border-color: rgb(115, 131, 87);
  color: black;
}

.btn-2 {
  background-color: rgb(187, 202, 161);
  border-color: rgb(187, 202, 161);
  color: black;
}

a {
  color: gray;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .content {
    padding-left: 60px !important;
    padding-right: 60px !important;
    position: relative !important;
    top: 40px !important;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    padding-left: 60px !important;
    padding-right: 60px !important;
    position: relative !important;
    top: 40px !important;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    padding-left: 60px !important;
    padding-right: 60px !important;
    position: relative !important;
    top: 40px !important;
  }
}
